streamlit
pandas
numpy
db-dtypes
tabulate

# BigQuery
google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow
pandas-gbq

# Vertex AI
google-cloud-aiplatform

# Authentication
google-auth
google-auth-oauthlib

# Storage (optional)
google-cloud-storage

# Sentence Transformer (if you use embeddings)
sentence-transformers
